


<!DOCTYPE html>
<html>
  <head>
    <title> Danish Roll </title>

    <style>
      .navbar 
      {
        display: flex; 
        justify-content: space-between;
      }
    
    </style>


  </head>

  <body>

  <div class="navbar">
  
    <div><a href="/"> Start </a></div>  
    <div><a href="/2dice6sides"> 2 Dice with 6 sides </a></div>
    <div><a href="/2dice10sides"> 2 Dice with 10 sides </a></div>
    <div><a href="/3dice15sides"> 3 Dice with 15 sides </a></div>
  
  
  </div>

  <%= yield %>

   
  </body>


</html>
