





<h1> 3 Dice 15 sides </h1>
       


      <ul>

        <% @shakes.each do |landed_on| %>
          <li> 
            <%= landed_on %>
          </li>
        <% end %>    

      </ul>


 
  
