

<h1>Lanjaro Roll </h1>

<ul>
  <li><a href="/2dice6sides"> Shake 2 dice with 6 sides each </a></li>
  
  <li><a href="/2dice10sides"> Shake 2 dice with 10 sides each </a></li>

  <li><a href="/3dice15sides"> Shake 3 dice with 15 sides each </a></li>
</ul> 
