

<!DOCTYPE html>
<html>
  <head>
    <title> Danish Roll </title>
  </head>

    <body>
    
    <h1> 2 Dice 10 sides </h1>
    
    <% if @die_2 == 3 %>
      <p style="color: green"><%= @final %></p>

    <% else %>
      <p><%= @final %></p>  
    <% end %>
       
    </body>

</html>      
