<!DOCTYPE html>
<html>
<head>
  <title>Danish Roll</title>

	<style>
    .navbar {
      display: flex;
			justify-content: space-between;
    }
	</style>
</head>

<body>
  <div class="navbar">
    <div><a href="/">Home</a></div>
    <div><a href="/2dice6sides">2d6</a></div>
    <div><a href="/2dice10sides">2d10</a></div>
    <!-- <div><a href="/dice/1/20">1d20</a></div> 
    <div><a href="/dice/5/4">4d5</a></div> -->
  </div>

  <%= yield %>

</body>
